.open-sans-normal{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
:root{
    ---organ:#fd6e0a;
    ---silver: #474747;
    ---dark1:#181818;
}

.btn-primary{
    background-color: #fd6e0a;
    font-size: 20px;
    padding: 10px 20px;
    border: 1px solid #fd6e0a;
    border-radius: 5px;
    color: aliceblue;

}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px 100px;
}
.nav-title{
    font-size: 45px;
    font-weight: 800;
}

.r{
    color: #fd6e0a;
}
nav ul{
   display: flex;
   align-items: center;
}
nav ul li{
    list-style: none;
    margin-right: 50px;
}
nav ul li a{
    text-decoration: none;
    font-size: 20px;
    color:var(---silver);
}
.head{
    background: url(images/developer.png),url(images/header_bg.png);
    background-repeat:no-repeat ;
    background-position: top left,bottom right;
}
.banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    }

.banner-content{
    width: 580px;
    margin: 100px;
    
}

.banner-greeting{
    font-size: 25px;
    color: #474747;
    margin-bottom: 15px;
}
.banner-title{
    font-size: 45px;
    font-family:"open sans" ;
}
.banner-content p{
    font-size: 18px;
    color: #474747;
    margin-bottom: 30px;
}
.section-title{
    font-size: 35px;
    font-weight: bold;
    color: #181818;
    text-align: center;
}
.description{
    font-size: 18px;
    color: #474747;
    text-align: center;
}

.secondary-bg{
    background-color: #fff4eb;
}
main{
    max-width: 1140px;
    margin: 0 auto;
}
.about{
    border-radius: 10px;
    padding: 100px 120px;
    text-align: center;
    margin-top: 100px;
}
.about-items{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.item-title{
    font-size: 20px;
    color: #474747;
}
.item-description{
    color: #181818;
    font-size: 20px;
    font-weight: bold;
}


.skills{
  padding: 100px 120px;
}


.skill-container{
    display: flex;
    gap: 20px;
}
.skill{
    text-align: center;
    padding: 30px;
    border-radius: 3px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    margin-top: 100px;

}
.resume-column-title{
    margin-bottom: 45px;
    font-size: 30px;
    font-weight: 600;
    font-family: "open sans";
}
.resume-container{
    display: flex;
    gap: 30px;
    justify-content: center;
    margin-bottom: 30px;
}

.experience h2{
    font-size: 33px;
    font-weight: 600;
    font-family: "open sans";
}
.experience-title{
    font-family: "open sans";
    font-size: 20px;
}
.experience-sub-title{
    font-family: "open sans";
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
}
.experience-sub-title, .experience-description{
    color: #757575;
}

.resume hr{
    margin: 30px 5px;
}

.text-center{
    text-align: center;
    font-size: 30px;
}

footer{
    margin-top: 20px;
}
.footer-container{
    display: flex;
    gap:50px;
    padding: 50px 250px;
    height: auto;
    
}
.footer-content h3{
    font-size: 30px;
}
.footer-content p{
    color: #757575;
}
.footer-icon{
    gap:10px;
}

footer input[type="text"], footer input[type="email"], footer textarea {
    display: block;
    width: 100%;
    height: 45px;
    border: none;
    border-radius: 5px;
    background-color: white;
    margin-bottom: 10px;
    padding: 8px 20px;
}